.filled{
    color: red;
  }
  
  .defaultHeart{
    position: relative;
    display: inline-block;
    color:gray;
    font-size: 40px;
  }
  
  .paintedHeart{
    position: absolute;
      display: inline-block;
      overflow: hidden;
      color: red;
  }